@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: 'Funnel Display', 'IBM Plex Mono', 'Mina', 'Tektur', 'Ubuntu', sans-serif;
}

/* For modern browsers */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
}

html {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Neue Montreal", sans-serif;
}


/* phone navbar */
.navbar {
	display: flex;
	align-items: center;
	padding: 1rem 1rem;
	background:rgb(12, 12, 12);
	box-sizing: border-box;
	justify-content: space-between;
}

.navbar__logo {
	width: 40px;
	height: auto;
}

.navbar__unordered-list li {
	margin: 1.5rem auto;
	font-size: 1.8rem;
	z-index:100;
}

label {
	display: flex;
	flex-direction: column;
	width: 30px;
	cursor: pointer;
}

label > div {
	background: white;
	right: 0;
	height: 2px;
	border-radius: 10px;
	width: 27px;
	margin: 2.5px 0;
	transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

label div:nth-child(2) {
	width: 50%;
}

label div:nth-child(3) {
	width: 100%;
}

label div:nth-child(4) {
	width: 75%;
}

input[type='checkbox'] {
	display: none;
}

input[type='checkbox']:checked ~ div:nth-of-type(1) {
	transform-origin: center;
	transform: rotateZ(45deg) translate(4px, -1.75px);
}

input[type='checkbox']:checked ~ div:nth-of-type(2) {
	transform-origin: center;
	transform: rotateZ(315deg);
}

input[type='checkbox']:checked ~ div:nth-of-type(3) {
	transform-origin: center;
	transform: rotateZ(45deg) translate(3px, -9px);
}

input[type='checkbox']:checked ~ ul {
	display: block;
	transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

@media only screen and (max-width: 650px) {
	.navbar__unordered-list {
		display: flex;
		flex-direction: column;
		position:absolute;
		right: 0;
		top: 75px;
		bottom:0px;
		height: 100vh;
		width: 100%;
		background-color: white;
		display: none;
        z-index:100;
        text-align: center;
	}
}

@media only screen and (min-width: 651px) {
	.navbar__unordered-list {
		justify-content: flex-end;
	}

	.navbar__unordered-list li {
		margin: auto 1rem;
		font-size: 0.8rem;
	}

	.navbar__hamburger > label > div {
		display: none;
	}

	.navbar__unordered-list {
		list-style: none;
		display: flex;
		align-items: center;
	}
}

/* phone nav style ends */



/* rotating time styles */
.time{
	width: 400px; /* Set desired width */
	height: 400px; /* Set desired height */
	border-radius: 50%; /* Makes the video circular */
	overflow: hidden; /* Ensures any overflow is clipped */
	object-fit:cover;
	box-shadow: 0 0px 20px rgb(255, 133, 2); 
  }

  @media only screen and (max-width: 650px) {
	.time{
		width: 280px; /* Set desired width */
		height: 280px; /* Set desired height */
		border-radius: 50%; /* Makes the video circular */
		overflow: hidden; /* Ensures any overflow is clipped */
		object-fit:cover;
		box-shadow: 0 0px 20px rgb(255, 133, 2); 
	  }
}




/* social media styles  */
.wrapper {
	display: grid;
	place-items: center;
	gap:5px
  }

  @media only screen and (max-width: 650px) {
	.wrapper {
		display: grid;
		place-items: center;
		gap:5px
	  }}
	  
  .wrapper .button {
	height: 60px;
	width: 60px;
	float: left;
	text-decoration: none;
	margin: 0 5px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-out;
  }
  .wrapper .button:hover {
	width: 200px;
  }
  .wrapper .button .icon {
	display: inline-block;
	height: 60px;
	width: 60px;
	color: #000;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
	line-height: 60px;
	transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon {
	background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon {
	background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon {
	background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon {
	background: #333;
  }
  .wrapper .button:nth-child(5):hover .icon {
	background: #ff0000;
  }
  .wrapper .button .icon i {
	font-size: 25px;
	line-height: 60px;
	transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i {
	color: #fff;
  }
  .wrapper .button span {
	font-size: 20px;
	font-weight: 500;
	line-height: 60px;
	margin-left: 10px;
	transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span {
	color: #4267B2;
  }
  .wrapper .button:nth-child(2) span {
	color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span {
	color: #E1306C;
  }
  .wrapper .button:nth-child(4) span {
	color: #333;
  }
  .wrapper .button:nth-child(5) span {
	color: #ff0000;
  }
