@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: 'Funnel Display', 'IBM Plex Mono', 'Mina', 'Tektur', 'Ubuntu', sans-serif;
}

/* For modern browsers */
::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
}

html {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer */
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Neue Montreal", sans-serif;
}

.site-content {
  opacity: 1; /* Ensure opacity is always set to avoid flicker */
  visibility: hidden; /* Hidden until the animation starts */
  clip-path: circle(0% at 50% 50%); /* Initial state for the animation */
  transition: clip-path 1.5s ease-in-out; /* Smooth fallback transition */
}





